wifi_ssid: "YourWiFiName"
wifi_password: "YourWiFiPassword"
fallback_password: "bfour1234"

# MAC address of your BFour BF-60 device
# Use bfour-discovery.yaml to find it (see README)
bfour_mac: "XX:XX:XX:XX:XX:XX"
